ion-img {
  margin: auto;
  max-width: 500px;
  height: 400px;
  margin-top: 10px;
}
ion-card {
  margin: auto;
  max-width: 500px;
}

.producto-more {
  font-size: 25px !important;
  position: absolute;
  right: -10px;
  top: -18px;
}
