<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="capitalize">{{ productoD.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card class="ion-text-center">
  <div class="producto-more">
    <ion-button fill="clear" (click)="lanzarMenu()" size="large">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
    </ion-button>
  </div>
  <ion-img [src]="productoD.foto" class="ion-margin"></ion-img>
</ion-card>


<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label class="ion-padding">Back</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
