<ion-header>
  <ion-toolbar>
    <ion-title> Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="sliderOpts" (click)="ProductListModal('Lista Compra')">
    <ion-slide>
      <ion-icon name="list-outline" color="primary"></ion-icon>
      <ion-label >Lista Compra</ion-label>
    </ion-slide>
  </ion-slides>
  <ion-slides [options]="sliderOpts" (click)="ProductListModal('Favoritos')">
    <ion-slide>
      <ion-icon name="star-outline" color="warning"></ion-icon>
      <ion-label >Favoritos</ion-label>
    </ion-slide>
  </ion-slides>
</ion-content>