<ion-content fullscreen>
    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <app-hello-user [usuario]="usuario"></app-hello-user>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-slides [options]="sliderOpts" (click)="ProductListModal('Lista Compra')">
        <ion-slide>
            <ion-icon name="list-outline" color="primary"></ion-icon>
            <ion-label>Lista Compra</ion-label>
        </ion-slide>
    </ion-slides>
    <ion-slides [options]="sliderOpts" (click)="ProductListModal('Favoritos')">
        <ion-slide>
            <ion-icon name="star-outline" color="warning"></ion-icon>
            <ion-label>Favoritos</ion-label>
        </ion-slide>
    </ion-slides>
    <ion-slides [options]="sliderOpts" (click)="ProductListModal('Cuenta')">
        <ion-slide>
            <ion-icon name="accessibility-outline" color="success"></ion-icon>
            <ion-label>Cuenta</ion-label>
        </ion-slide>
    </ion-slides>
</ion-content>