ion-slides {
  width: 26%;
  height: 26%;
  ion-slide {
    display: flex;
    flex-direction: column;
  }
}

ion-icon{
    width: 105px;
    height: 105px;
}

.img-avatar {
  width: 200px;
}

.item {
  font-size: 18px;
}

.item-avatar {
  width: 100% !important;
  height: 100% !important;
  max-width: 90px !important;
  max-height: 90px !important;
}

ion-content {
  --background: none;
  background-image: url('https://www.wallpapertip.com/wmimgs/50-508379_blue-fade-background-wallpaper-background-image-clean.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 992px){
  .item{
    margin-top: 5vh;
  }
}