.button {
  ion-button{
    margin: auto;
    ion-icon {
      color: black;
      width: 40px;
      height: 40px;
    }
  }
  margin-bottom: 3vh;
}

ion-content {
  --background: none;
  background-image: url('https://www.wallpapertip.com/wmimgs/50-508379_blue-fade-background-wallpaper-background-image-clean.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media (max-width: 992px){
  ion-toolbar{
    margin-top: 6vh;
  }
}
