<ion-header>
    <ion-toolbar>
      <ion-title>{{ page_name }}</ion-title>
      <ion-button
        size="small"
        [routerLink]="['./new-producto']"
        class="ion-padding-horizontal"
        slot="end"
      >
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <app-product-list-items
        style="cursor: pointer"
        [producto]="producto"
        [enFavoritos]="false"
      ></app-product-list-items>
    </ion-list>
  </ion-content>