ion-button {
    margin: 0 13px;
}

@media (max-width: 992px){
//   h2,
  ion-segment{
    margin-top: 5vh;
  }
}

ion-segment-button{
    font-size: 12px;
}
ion-slide{
    display: flex;
    flex-direction: row;
}

ion-content {
  --background: none;
  background-image: url('https://www.wallpapertip.com/wmimgs/50-508379_blue-fade-background-wallpaper-background-image-clean.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}